 @media screen and (max-width: 400px) {
    
    .container{
        gap: 25px;
    }
    #start{
        font-size: 2vmax;
    }
    .turn {
        font-size: 2vmax;
    }
    #result{
        font-size: 2.5vmax;
    }
    #reset{
        font-size: 2.5vmax;
    }

} 